### Otto Grpup Production Classification Model

In [122]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from xgboost.sklearn import XGBClassifier

In [105]:
traindf = pd.read_csv("data//train.csv")
testdf = pd.read_csv("data//test.csv")

In [106]:
traindf.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

In [107]:
testdf.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
0,1,0,0,0,0,0,0,0,0,0,...,0,0,11,1,20,0,0,0,0,0
1,2,2,2,14,16,0,0,0,0,0,...,0,0,0,0,0,4,0,0,2,0
2,3,0,1,12,1,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,0,...,0,3,1,0,0,0,0,0,0,0
4,5,1,0,0,1,0,0,1,2,0,...,0,0,0,0,0,0,0,9,0,0

### EDA
#### Data Analysis

In [108]:
#list out columms
traindf.columns

Index(['id', 'feat_1', 'feat_2', 'feat_3', 'feat_4', 'feat_5', 'feat_6',
       'feat_7', 'feat_8', 'feat_9', 'feat_10', 'feat_11', 'feat_12',
       'feat_13', 'feat_14', 'feat_15', 'feat_16', 'feat_17', 'feat_18',
       'feat_19', 'feat_20', 'feat_21', 'feat_22', 'feat_23', 'feat_24',
       'feat_25', 'feat_26', 'feat_27', 'feat_28', 'feat_29', 'feat_30',
       'feat_31', 'feat_32', 'feat_33', 'feat_34', 'feat_35', 'feat_36',
       'feat_37', 'feat_38', 'feat_39', 'feat_40', 'feat_41', 'feat_42',
       'feat_43', 'feat_44', 'feat_45', 'feat_46', 'feat_47', 'feat_48',
       'feat_49', 'feat_50', 'feat_51', 'feat_52', 'feat_53', 'feat_54',
       'feat_55', 'feat_56', 'feat_57', 'feat_58', 'feat_59', 'feat_60',
       'feat_61', 'feat_62', 'feat_63', 'feat_64', 'feat_65', 'feat_66',
       'feat_67', 'feat_68', 'feat_69', 'feat_70', 'feat_71', 'feat_72',
       'feat_73', 'feat_74', 'feat_75', 'feat_76', 'feat_77', 'feat_78',
       'feat_79', 'feat_80', 'feat_81', 'feat_82', 'feat_83', 'feat_84',
       'feat_85', 'feat_86', 'feat_87', 'feat_88', 'feat_89', 'feat_90',
       'feat_91', 'feat_92', 'feat_93', 'target'],
      dtype='object')

In [109]:
testdf.columns

Index(['id', 'feat_1', 'feat_2', 'feat_3', 'feat_4', 'feat_5', 'feat_6',
       'feat_7', 'feat_8', 'feat_9', 'feat_10', 'feat_11', 'feat_12',
       'feat_13', 'feat_14', 'feat_15', 'feat_16', 'feat_17', 'feat_18',
       'feat_19', 'feat_20', 'feat_21', 'feat_22', 'feat_23', 'feat_24',
       'feat_25', 'feat_26', 'feat_27', 'feat_28', 'feat_29', 'feat_30',
       'feat_31', 'feat_32', 'feat_33', 'feat_34', 'feat_35', 'feat_36',
       'feat_37', 'feat_38', 'feat_39', 'feat_40', 'feat_41', 'feat_42',
       'feat_43', 'feat_44', 'feat_45', 'feat_46', 'feat_47', 'feat_48',
       'feat_49', 'feat_50', 'feat_51', 'feat_52', 'feat_53', 'feat_54',
       'feat_55', 'feat_56', 'feat_57', 'feat_58', 'feat_59', 'feat_60',
       'feat_61', 'feat_62', 'feat_63', 'feat_64', 'feat_65', 'feat_66',
       'feat_67', 'feat_68', 'feat_69', 'feat_70', 'feat_71', 'feat_72',
       'feat_73', 'feat_74', 'feat_75', 'feat_76', 'feat_77', 'feat_78',
       'feat_79', 'feat_80', 'feat_81', 'feat_82', 'feat_83', 'feat_84',
       'feat_85', 'feat_86', 'feat_87', 'feat_88', 'feat_89', 'feat_90',
       'feat_91', 'feat_92', 'feat_93'],
      dtype='object')

In [110]:
traindf['target'].describe()

count       61878
unique          9
top       Class_2
freq        16122
Name: target, dtype: object

In [111]:
traindf.isnull().sum()

id         0
feat_1     0
feat_2     0
feat_3     0
feat_4     0
          ..
feat_90    0
feat_91    0
feat_92    0
feat_93    0
target     0
Length: 95, dtype: int64

In [112]:
null_columns = traindf.columns[traindf.isnull().any()]
null_columns

Index([], dtype='object')

There is no missing data in any column.

In [113]:
## lets check the different classifications for the product in training data.
traindf['target'].unique()

array(['Class_1', 'Class_2', 'Class_3', 'Class_4', 'Class_5', 'Class_6',
       'Class_7', 'Class_8', 'Class_9'], dtype=object)

In [114]:
## traindf.replace(['Class_1', 'Class_2', 'Class_3', 'Class_4', 'Class_5', 'Class_6', 'Class_7', 'Class_8', 'Class_9'],[1,2,3,4,5,6,7,8,9])
lEnc = LabelEncoder()
lEnc.fit(traindf['target'])
traindf['target']=lEnc.transform(traindf['target'])
traindf.head()
traindf['target'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [115]:
# correlation_matrix = traindf.corr().round(2)
# annot = True to print the values inside the square
# sns.heatmap(data=correlation_matrix, annot=True)

In [116]:

x = traindf.iloc[:, :-1]
y = traindf.iloc[:, -1]
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2,random_state =42)

In [117]:
#checking the values not imp step.
#x.head()
#y.head()

In [119]:
xgb = XGBClassifier()
xgb.fit(x_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [123]:
y_pred = xgb.predict(x_test)
pred = [round(value) for value in y_pred] 
accuracy = accuracy_score(y_test, pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 99.98%

In [124]:
y_test.head()

47416    6
46490    6
35460    5
44640    5
32087    5
Name: target, dtype: int32

In [126]:
pred

[6,
 6,
 5,
 5,
 5,
 1,
 1,
 6,
 1,
 1,
 2,
 4,
 1,
 1,
 7,
 5,
 0,
 0,
 6,
 4,
 3,
 2,
 1,
 3,
 7,
 8,
 6,
 1,
 4,
 2,
 5,
 0,
 1,
 8,
 5,
 4,
 0,
 1,
 1,
 0,
 5,
 1,
 1,
 2,
 5,
 6,
 2,
 4,
 8,
 7,
 1,
 6,
 2,
 8,
 2,
 5,
 1,
 1,
 7,
 5,
 5,
 2,
 7,
 5,
 1,
 1,
 4,
 2,
 4,
 1,
 5,
 6,
 1,
 1,
 5,
 2,
 8,
 4,
 4,
 2,
 8,
 1,
 1,
 1,
 7,
 5,
 7,
 2,
 1,
 1,
 8,
 6,
 3,
 5,
 7,
 1,
 5,
 6,
 5,
 5,
 6,
 6,
 7,
 7,
 1,
 5,
 1,
 1,
 6,
 5,
 2,
 5,
 6,
 6,
 0,
 1,
 5,
 5,
 0,
 5,
 2,
 1,
 8,
 1,
 2,
 6,
 7,
 5,
 1,
 1,
 1,
 7,
 2,
 7,
 1,
 1,
 8,
 1,
 5,
 6,
 2,
 1,
 3,
 6,
 0,
 1,
 2,
 4,
 7,
 3,
 1,
 1,
 8,
 8,
 7,
 5,
 1,
 2,
 8,
 8,
 7,
 4,
 8,
 1,
 5,
 1,
 5,
 2,
 6,
 1,
 1,
 1,
 1,
 5,
 5,
 3,
 7,
 1,
 8,
 4,
 1,
 1,
 5,
 0,
 1,
 7,
 1,
 5,
 3,
 5,
 8,
 1,
 1,
 5,
 7,
 7,
 5,
 1,
 6,
 1,
 7,
 2,
 5,
 5,
 1,
 4,
 5,
 7,
 5,
 5,
 7,
 1,
 6,
 7,
 5,
 5,
 1,
 1,
 1,
 1,
 5,
 8,
 7,
 6,
 5,
 5,
 7,
 5,
 1,
 1,
 5,
 7,
 7,
 5,
 2,
 3,
 1,
 2,
 1,
 6,
 5,
 5,
 5,
 8,
 4,
 5,
 0,
 1,
 3,
 5,
 1,
 2,
 1,
 5,
 2,
 4,
 1,
 1,
 6,
 3,
 1,
 5,
 1,
 0,
 2,
 1,
 1,
 7,
 1,
 7,
 8,
 1,
 1,
 1,
 1,
 7,
 2,
 7,
 7,
 5,
 7,
 5,
 1,
 1,
 8,
 5,
 7,
 5,
 2,
 7,
 1,
 5,
 5,
 2,
 6,
 5,
 1,
 5,
 8,
 2,
 1,
 5,
 8,
 2,
 8,
 6,
 2,
 1,
 1,
 7,
 1,
 5,
 5,
 5,
 1,
 7,
 0,
 1,
 1,
 5,
 8,
 5,
 7,
 5,
 1,
 1,
 5,
 1,
 8,
 7,
 2,
 3,
 1,
 8,
 5,
 5,
 2,
 7,
 7,
 1,
 1,
 3,
 1,
 4,
 1,
 7,
 7,
 1,
 6,
 1,
 7,
 1,
 1,
 5,
 5,
 4,
 8,
 1,
 4,
 5,
 2,
 7,
 5,
 1,
 1,
 1,
 2,
 5,
 5,
 7,
 0,
 2,
 5,
 6,
 2,
 2,
 4,
 1,
 4,
 1,
 7,
 8,
 1,
 8,
 4,
 5,
 8,
 0,
 7,
 5,
 0,
 0,
 5,
 5,
 1,
 7,
 8,
 2,
 2,
 7,
 1,
 8,
 8,
 5,
 1,
 1,
 1,
 1,
 5,
 7,
 8,
 8,
 3,
 5,
 1,
 6,
 2,
 2,
 1,
 7,
 5,
 2,
 2,
 5,
 1,
 7,
 8,
 5,
 0,
 5,
 3,
 5,
 1,
 8,
 7,
 2,
 1,
 1,
 7,
 3,
 5,
 5,
 5,
 1,
 4,
 1,
 3,
 8,
 5,
 1,
 2,
 8,
 8,
 5,
 1,
 2,
 2,
 5,
 1,
 4,
 2,
 8,
 1,
 1,
 7,
 6,
 5,
 7,
 7,
 3,
 5,
 7,
 5,
 0,
 5,
 6,
 5,
 6,
 5,
 3,
 8,
 1,
 6,
 5,
 1,
 3,
 5,
 4,
 5,
 1,
 5,
 1,
 1,
 5,
 2,
 1,
 5,
 3,
 8,
 5,
 5,
 5,
 5,
 8,
 1,
 5,
 5,
 1,
 1,
 5,
 0,
 0,
 5,
 2,
 2,
 7,
 1,
 5,
 4,
 8,
 2,
 4,
 3,
 5,
 6,
 5,
 7,
 1,
 1,
 2,
 8,
 6,
 1,
 5,
 2,
 7,
 4,
 4,
 1,
 5,
 6,
 1,
 1,
 5,
 8,
 2,
 5,
 8,
 5,
 6,
 1,
 1,
 4,
 1,
 7,
 1,
 1,
 5,
 5,
 7,
 7,
 8,
 1,
 1,
 5,
 8,
 2,
 1,
 4,
 1,
 5,
 5,
 3,
 5,
 5,
 1,
 7,
 1,
 0,
 1,
 8,
 5,
 8,
 5,
 8,
 5,
 5,
 1,
 1,
 1,
 7,
 2,
 7,
 5,
 8,
 4,
 5,
 5,
 1,
 2,
 4,
 2,
 5,
 1,
 7,
 6,
 7,
 6,
 1,
 7,
 7,
 8,
 1,
 6,
 1,
 1,
 2,
 1,
 1,
 5,
 5,
 5,
 5,
 2,
 4,
 7,
 7,
 1,
 5,
 4,
 1,
 2,
 6,
 5,
 1,
 7,
 1,
 5,
 2,
 7,
 2,
 5,
 2,
 2,
 7,
 6,
 1,
 7,
 1,
 4,
 5,
 5,
 3,
 7,
 5,
 4,
 1,
 1,
 1,
 5,
 2,
 1,
 5,
 2,
 5,
 3,
 7,
 6,
 1,
 5,
 5,
 2,
 4,
 2,
 5,
 5,
 3,
 4,
 6,
 3,
 7,
 7,
 7,
 5,
 3,
 2,
 1,
 1,
 7,
 6,
 1,
 2,
 1,
 6,
 1,
 1,
 5,
 1,
 5,
 1,
 1,
 1,
 1,
 2,
 5,
 1,
 0,
 1,
 1,
 5,
 1,
 8,
 5,
 8,
 1,
 5,
 8,
 7,
 8,
 5,
 2,
 8,
 5,
 5,
 5,
 5,
 8,
 2,
 6,
 7,
 5,
 1,
 1,
 7,
 8,
 2,
 8,
 1,
 7,
 4,
 1,
 7,
 4,
 5,
 7,
 1,
 7,
 1,
 5,
 8,
 7,
 7,
 1,
 5,
 2,
 1,
 4,
 0,
 1,
 1,
 2,
 1,
 4,
 1,
 0,
 1,
 1,
 1,
 5,
 1,
 6,
 1,
 0,
 7,
 2,
 2,
 7,
 6,
 7,
 1,
 7,
 5,
 1,
 8,
 1,
 2,
 7,
 1,
 1,
 5,
 1,
 4,
 8,
 1,
 8,
 7,
 7,
 5,
 8,
 8,
 1,
 1,
 1,
 7,
 5,
 8,
 3,
 1,
 1,
 1,
 1,
 5,
 7,
 1,
 2,
 5,
 6,
 5,
 1,
 2,
 6,
 3,
 5,
 5,
 8,
 5,
 5,
 6,
 1,
 7,
 5,
 8,
 8,
 2,
 5,
 5,
 8,
 7,
 1,
 0,
 2,
 5,
 1,
 7,
 1,
 2,
 5,
 8,
 3,
 6,
 1,
 1,
 5,
 1,
 5,
 1,
 1,
 2,
 6,
 5,
 7,
 7,
 1,
 5,
 1,
 3,
 7,
 6,
 0,
 7,
 2,
 1,
 2,
 5,
 8,
 7,
 2,
 5,
 6,
 5,
 1,
 7,
 1,
 2,
 5,
 5,
 1,
 7,
 1,
 1,
 2,
 7,
 1,
 8,
 1,
 7,
 1,
 1,
 6,
 1,
 5,
 3,
 1,
 2,
 1,
 1,
 8,
 2,
 2,
 7,
 7,
 0,
 5,
 2,
 2,
 2,
 0,
 1,
 1,
 5,
 7,
 1,
 2,
 7,
 4,
 3,
 1,
 1,
 7,
 3,
 7,
 8,
 2,
 8,
 1,
 1,
 8,
 1,
 1,
 1,
 7,
 5,
 1,
 5,
 1,
 5,
 5,
 3,
 0,
 4,
 1,
 2,
 6,
 2,
 1,
 5,
 5,
 5,
 1,
 8,
 1,
 8,
 3,
 1,
 7,
 5,
 2,
 3,
 2,
 1,
 1,
 8,
 8,
 2,
 1,
 1,
 1,
 8,
 5,
 5,
 5,
 1,
 2,
 1,
 5,
 1,
 1,
 0,
 7,
 8,
 5,
 5,
 7,
 3,
 1,
 5,
 5,
 1,
 2,
 5,
 ...]