**Iris Project**

Importing all the required libaries for this project.

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(color_codes=True)
%matplotlib inline

Make sure you are working in right versions of the libarary and system.

In [3]:
print(np.__version__)
print(pd.__version__)
print(sns.__version__)
import sys
print(sys.version)

1.19.1
1.1.1
0.10.1
3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]

Loading the Iris csv data from data folder.

In [4]:
df = pd.read_csv('data//iris.data')
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

Pandas library read_csv command takes first line as header but in our case we don't have header for this data so reload the data wihout header.

In [8]:
df = pd.read_csv('data//iris.data', header=None)
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

Now lets add some meaningful column names. We can do that by simply addig array on top of the dataframe.

In [9]:
col_name = ['sepal length', 'sepal width', 'petal lenght', 'petal width', 'class']
df.columns = col_name
df.head()

   sepal length  sepal width  petal lenght  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa